.popup .engine-name, .popup.mainmenu > li:first-child {
 display: none;
 margin: 0;
 padding: 0;
 border-radius: 0;
 box-shadow: none;
 width: auto;
}
.popup a, .popup li {
 display: inline-block;
 background: #303030;
 margin: 0;
}
.popup img {
 margin: 5px;
 padding: 0;
}
.popup {
 width: auto;
 padding: 0;
 box-shadow: none;
}
.popup a:hover, .popup a.active {
 background: #595959;
 border-radius: 0;
}
/*CONFIG_START{"submenu_position":"topright","submenu_corner":"bottomleft"}CONFIG_END*/
